button {
    cursor: pointer;
    border-radius: 20px;
}

#la_grid td {
    cursor: pointer;
}

#soux_la_grid td {
    cursor: pointer;
}

#we_love_crime td {
    cursor: pointer;
}

#inter_list tr {
    cursor: none;
}

#saveData{
    display: none;
}

h1{
    text-align: left;
}

.button-container{
    align-items: right;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.resources div{
    display: inline-block;
    margin: 0 1rem;
}

#demandometer{
    text-align: center;
    user-select: none;
}

#princessDiana span{
    background-color: green;
    display: inline-block;
    /* width: 20px;
    height: 20px; */
    border: solid black 1px;
    margin: 1px;
}

#la_grid td.too-expensive{
    cursor: not-allowed;
    text-decoration: line-through;

}

.theTitleSlide div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#theButton {
    width: 100px;
    height: 50px;
    padding: 10px 20px; 
    font-size: 20px; 
    background-color: rgb(81, 155, 180); /* Initial RGB color */ 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.introParagraph div {
    display: block;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    text-align: center;
}