button {
    cursor: pointer;
    border-radius: 20px;
}

#la_grid td {
    cursor: pointer;
}

#soux_la_grid td {
    cursor: pointer;
}

#we_love_crime td {
    cursor: pointer;
}

#inter_list tr {
    cursor: none;
}

#saveData{
    display: none;
}

h1{
    text-align: left;
}

.button-container{
    align-items: right;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.resources div{
    display: inline-block;
    margin: 0 1rem;
}

#demandometer{
    text-align: center;
    user-select: none;
}

#princessDiana span{
    background-color: red;
    display: inline-block;
    border: solid black 1px;
    margin: 1px;
}

#princeShrek span{
    background-color: blue;
    display: inline-block;
    border: solid black 1px;
    margin: 1px;
}

#la_grid td.too-expensive{
    cursor: not-allowed;
    text-decoration: line-through;

}